<nav class="navbar">
  <div class="navbar-left">
    <div class="logo">MyApp</div>
    <input type="text" placeholder="Search..." class="search-input" />
  </div>

  <div class="navbar-right">
    <div class="icon notification-icon">
      🔔
      <span class="badge">3</span>
    </div>

    <div class="user-menu" (click)="toggleUserMenu()">
      <img src="https://i.pravatar.cc/30" alt="User" class="user-avatar" />
      <span class="username">Krishna</span>
      <div class="dropdown" *ngIf="showUserMenu">
        <ul>
          <li>Profile</li>
          <li>Settings</li>
          <li (click)="logout()">Logout</li>
        </ul>
      </div>
    </div>
  </div>
</nav>

